html {
  scroll-behavior: smooth;
}

@keyframes float-hero {
  0% { transform: translateY(0px) rotate(-12deg) translateX(-3rem); }
  50% { transform: translateY(-10px) rotate(-10deg) translateX(-3rem); }
  100% { transform: translateY(0px) rotate(-12deg) translateX(-3rem); }
}
